@import url(../fonts/Roboto-Medium.ttf);
@import url(navigation.css);
@import url(animal.css);
@import url(animalDetail.css);
@import url(client.css);
@import url(clientDetail.css);

.root {
    -fx-pref-width: 1200;
}

/*
    Text
*/
.page-title {
    -fx-font-size: 24;
    -fx-font-family: 'Roboto', sans-serif;
}

/*
    Button / Action
*/
.cursor{
    -fx-cursor: hand;
}

.button {
    -fx-font-weight: bold;
}

/*
    Form field
*/

.checkbox, .input, .choice-box {
    -fx-background-radius: 4;
    -fx-background-color: #F5F5F5;
    -fx-effect: dropshadow( three-pass-box, rgba(0, 0, 0, .25), 0, 0, 2, 2);
}

.choice-box {
}