/*
    Text
*/
.page-title {
    -fx-font-size: 42;
    -fx-font-family: "Roboto Light";
}

.right {
    -fx-background-color: rgba(255, 139, 0, 0.6);
}

.label {
    -fx-font-size: 24;
    -fx-font-family: "Roboto Light";
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
}

.error {
    -fx-text-fill: #ff0000;
}

/*
    Button / Action
*/
.cursor{
    -fx-cursor: hand;
    -fx-fill: "000"
}

/*
    Form field
*/

.checkbox, .input, .choice-box {
    -fx-background-radius: 4;
    -fx-background-color: #F5F5F5;
    -fx-effect: dropshadow( three-pass-box, rgba(0, 0, 0, .25), 0, 0, 2, 2);
}

.choice-box {
    -fx-background-color: #FFF;
}